<html>
    <head>
        <title>hobin's blog</title>
    </head>
    <body>
        <div>
            <h1><a href="">hobin's Blog</a></h1>
        </div>

        {% for post in posts%}
            <div>
                <p>published: {{post.published_date}}</p>
                <h1><a href="">{{post.title}}</a></h1>
                <p> {{ post.text|linebreaksbr}}</p>     
            <div/>
        {% endfor %}

        <div>
            <p>published: 23.02.2020, 20:37</p>
            <h2><a href="">My second post</a></h2>
            <p> I will always choose a lazy person to do a difficult job... Because He will find an easy way to do it</p>
        <p>Hi there!</p>    
        <p>It works!</p>
    </body>
</html>
